* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link:hover {
    border-bottom: 1px solid black;
}

#navbarNav {
    display: flex;
    flex-direction: row;
}

.container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-brand h3 {
    text-align: center;
}